{{/* Product/region/news card. Call with a Page (.) */}}
<a class="card" href="{{ .RelPermalink }}">
  {{ with .Params.image }}
    <div class="card__media"><img src="{{ . | relURL }}" alt="{{ $.Title }}"></div>
  {{ else }}{{ with .Params.banner }}
    <div class="card__media"><img src="{{ . | relURL }}" alt="{{ $.Title }}"></div>
  {{ end }}{{ end }}
  <div class="card__body">
    {{ with .Params.tags }}
      <div class="card__tags">
        {{ range first 3 . }}{{ partial "tag.html" . }}{{ end }}
      </div>
    {{ end }}
    <h3 class="card__title">{{ .Title }}</h3>
    <p class="card__summary">{{ .Params.summary | default .Summary }}</p>
    <span class="card__foot">About this product <i class="fas fa-arrow-right" aria-hidden="true"></i></span>
  </div>
</a>
